body {
	background-color: #88CC88;
}

li {
	margin-left: 7%;
	width:80%;
	border: 0px solid black;
	list-style: none;
}

label {
	padding-bottom: 1%;
	padding-left: 2%;
	margin-bottom: 1%;	
}
.sujet1 {
	margin-left: 15%;
	font-size: 200%;
}

.sujet{
	margin-left: 15%;
}


#title {
	text-align: center;
}

div {
	margin-left: 9%;
}

.ligne {
	margin-left: 16%;
	width:60%;
}

