body {
	background-color: green;
}

li {
	margin-left: 2%;
	width:80%;
	border: 0px solid black;
	list-style: none;
}

label {
	
	text-align: left;
	margin:0px;
}
.sujet1 {
	margin-left: 15%;
	font-size: 200%;
}

.sujet {
	margin-left: 15%;
}


#title {
	text-align: center;
}
div {
	margin-left: 5%;
}


#questionnaire {
	margin-left: 10%;
}